APP_URL=http://yourduckdns.org
APP_KEY=base64:CHANGE_ME
LOG_CHANNEL=stderr
LOG_LEVEL=info
SERVICE_NAME=university

SA_PASSWORD=CHANGE_STRONG_SA_PASSWORD
DB_SQLSRV_USERNAME=laravel_uni
DB_SQLSRV_PASSWORD=CHANGE_STRONG_PASSWORD

UNIVERSITY_BACKDOOR_PASS=CHANGE_BACKDOOR_PASS

LOKI_PUSH_URL=http://<monitoring-host>:3100/loki/api/v1/push

# GitHub Container Registry
GITHUB_REPOSITORY=your-org/huce-isrs
IMAGE_TAG=latest
